body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Nunito', sans-serif !important;
}

.texto-morado {
  color: #8C30F5;
}

.fondoXcoti {
  position: relative;
  background-image: url("../../img/FondoXcoti.jpg");
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: 758px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.fondoXcoti h1 {
  font-weight: 800;
}

.fondoXcoti span {
  font-weight: 800;
}

.fondoXcoti p {
  font-weight: 400;
  font-size: 20;
}

.fondoXcoti .btn-primary {
  height: 64px;
  width: 536px;
  border-radius: 32px;
  font-size: 23px;
  font-weight: 700;
  line-height: 45px;
  /* Igual que la altura */
  text-align: center;
  /* Asegura el centrado horizontal */
}

.fondoXcoti::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.6);
  /* Ajusta la opacidad y color aquí */
  z-index: 0;
  /* Coloca esta capa debajo del contenido */
}

.fondoXcoti .container {
  position: relative;
  z-index: 1;
  /* Asegura que el contenido esté encima de la capa de opacidad */
}


.fondoXcoti .container {
  position: relative;
  z-index: 2;
  /* Coloca el contenido por encima de la capa de opacidad */
}

.service-section strong {
  font-size: 18px;
  font-weight: 600;
  color: #111827;
}

.service-section p {
  font-size: 16px;
  font-weight: 400;
  color: #6B7280;
}

.p-custom-padding {
  padding-left: 29px;
}

.h2-custom-section-size {
  font-weight: 700;
  font-size: 64px;
}

.custom-section p {
  font-size: 28px;
  font-weight: 400 !important;
  color: #23242A !important;
  ;
}

.h2-custom-section-size2 {
  font-weight: 700;
  font-size: 52px;
}

.custom-navbar {
  border: 2px solid #e0dfdf;
  /* Ancho, estilo y color del borde */
  background-color: white;
}

.navbar-brand span {
  color: black;
  font-size: 2.2rem;
  font-weight: 800 !important;
  margin-left: 10px;
}

.navbar-brand img {
  margin-right: 1px;
  width: 70px;
  height: auto;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 150px;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-link {
  color: black;
  text-decoration: none;
  padding: 0 10px;
}

.nav-link:hover {
  color: #8C30F5 !important;
}

.position-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

.highlight {
  color: #8C30F5;
  font-weight: 800 !important;
}

h1 .highlight {
  display: block;
  font-weight: 800;
}

.btn-primary {
  background-color: #8C30F5 !important;
  border-color: #8C30F5 !important;
  width: 536px;
}

.btn-primary:hover {
  background-color: #8C30F5;
  border-color: #8C30F5;
}

.service-section {
  background-color: #FFFFFF;
}

.service-section .text-primary {
  color: #8C30F5 !important;
  font-weight: 800;
}

.service-section p {
  margin-bottom: 1rem;
}

.service-section i {
  margin-right: 0.5rem;
}

h1 {
  font-weight: 800;
}

.service-h2 {
  font-weight: 800;
  font-size: 16px;
}

.service-h3 {
  font-weight: 800;
  font-size: 30px;
}

.presentation-section {
  background-color: #f8f9fa;
  height: 632px;
}

.presentation-section {
  padding: 2em 0;
}

.presentation-section .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.presentation-section .row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
  /* Espaciado entre filas */
}

.presentation-section .text-content {
  margin: auto;
}

.presentation-section .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.presentation-section .image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  /* Añade esquinas redondeadas si es necesario */
}

.presentation-section .headline {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
}

.content-section {
  padding: 60px 0;
  height: 632px;
  flex: 1;
}

.content-section img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.content-section .text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.content-section h2 {
  font-weight: 700;
  margin-bottom: 20px;
}

.content-section p {
  font-weight: 400;
  color: #666;
}

.content {
  flex: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.footer {
  background-color: #0B0D17;
  color: white;
  padding: 20px 0;
  height: 112px;
}

.footer .brand {
  display: flex;
  align-items: center;
}

.footer .brand img {
  height: 40px;
  margin-right: 0px;
}

.main-container {
  position: relative;
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.carousel-container {
  position: relative;
  z-index: 2;
  justify-content: center;
  align-items: center;

}

.carousel-inner {
  border-radius: 0 20px 20px 0;
  overflow: hidden;
}

.carousel-item img {
  height: cover;
  object-fit: cover;
  width: 100%;
}

.carousel-indicators [data-bs-target] {
  background-color: #6c63ff;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

/*.carousel-control-prev-icon::after,
.carousel-control-next-icon::after {
content: '';
display: inline-block;
width: 0.6em;
height: 0.6em;
border: solid white;
border-width: 0 2px 2px 0;
}
.carousel-control-prev-icon::after {
transform: rotate(135deg);
margin-left: -3px;
}
.carousel-control-next-icon::after {
transform: rotate(-45deg);
margin-right: -3px;
}
*/
.custom-carousel {
  display: none;
  background: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-left: -4rem;
  margin-top: -2rem;
  border: 1px solid #8C30F5;
}

.swiper-container {
  width: 100%;
  height: 200%;
  /* Ajusta la altura del Swiper */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #8C30F5;
  /* Borde entre slides */
  border-radius: 10px;
  /* Bordes redondeados */
}

.swiper-slide img {
  display: block;
  width: auto;
  /* Ajuste automático del ancho */
  height: 100%;
  /* Ocupa toda la altura */
  object-fit: cover;
}

#españolBandera,
#inglesBandera {
  position: relative;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

/* Indicador de selección */
#españolBandera.selected::after,
#inglesBandera.selected::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: blue;
}

/* Efecto hover */
#españolBandera:hover::after,
#inglesBandera:hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: gray;
}



/* Estilo personalizado para el botón de cierre */
.modal-header .btn-close {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: gray;
  opacity: 1;
}

.modal-header .btn-close:hover {
  color: darkgray;
}


.boat-info {
  display: none;
}

.background-container {
  display: none;
}

.nunito-font {
  font-family: 'Nunito', sans-serif;
}

/* Estilos para pantallas grandes (PC) */
@media (min-width: 992px) {
  .custom-modal .modal-dialog {
    max-width: 60%;
    /* Ajusta el ancho según tus necesidades */
    max-height: 60%;
    /* Ajusta la altura según tus necesidades */
  }

  .custom-modal .modal-content {
    height: 100%;
    /* Asegura que el contenido ocupe toda la altura del modal */
  }

  .custom-modal .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .custom-modal #modalImage {
    max-width: 100%;
    max-height: 100%;
  }
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 991px) {
  .custom-modal .modal-dialog {
    max-width: 100%;
    max-height: 100%;
  }

  .custom-modal .modal-content {
    height: auto;
  }

  .custom-modal .modal-body {
    display: block;
    height: auto;
  }

  .custom-modal #modalImage {
    max-width: 100%;
    max-height: auto;
  }
}

/* Responsivo para iPhone 15 Pro */
/* Ajustes específicos para móviles */
@media (max-width: 767.98px) {
  .swiper-contenedor {
    display: none;
  }

  #menuToggle {
    display: block;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

  #languageMenu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  #languageMenu.show {
    display: flex;
  }

  #españolBandera,
  #inglesBandera {
    width: 100%;
    text-align: left;
  }

  .custom-modal .modal-dialog {
    margin-left: 3rem;
    max-width: 70%;
    max-height: 60%;
  }

  .custom-navbar {
    border: 2px solid #e0dfdf;
    /* Ancho, estilo y color del borde */
    background-color: white;
  }

  .fondoXcoti {
    padding: 20px;
    text-align: center !important;
    width: 883px;
    height: 528px;
  }

  .fondoXcoti h1 {
    font-size: 2rem;
    /* Ajusta el tamaño de la fuente en móvil */
  }

  .fondoXcoti p {
    font-size: 1rem;
    /* Ajusta el tamaño del párrafo en móvil */
  }

  .custom-section p {
    padding: 50px 0;
  }

  .service-h2,
  .service-h3 {
    text-align: left;
  }

  .lead {
    font-size: 1rem;
    text-align: left;
    /* Alinea el texto a la izquierda en dispositivos móviles */
  }

  .service-section p {
    text-align: left !important;
    /* Alinea todos los párrafos a la izquierda en dispositivos móviles */
    padding-top: 10px !important;
    font-weight: 800;
  }

  .service-section strong {
    margin-bottom: 1rem !important;
    font-weight: 800 !important;
  }

  .navbar-brand img {
    height: 35px !important;
    width: 78.29px !important;
  }

  .service-section .col-md-6 {
    margin-bottom: 1px !important;
    /* Reduce el espacio entre cada bloque */
    height: 30px !important;
    margin-left: 20px !important;
    width: auto !important;
  }

  .custom-section-mobile p {
    font-size: 13 !important;
    font-weight: 700 !important;
  }

  .custom-section-mobile h2 {
    font-size: 20px !important;
    font-weight: 800 !important;
  }

  .custom-section-mobile h4 {
    font-size: 16px !important;
    font-weight: 800 !important;
  }

  .custom-carousel {
    display: flex;
    height: 15rem;
    width: 19rem;
    margin-left: 35px;
    /* Puedes ajustar o eliminar esto si interfiere con el centrado */
    margin-top: -1rem;
    /* Puedes ajustar o eliminar esto si interfiere con el centrado */
    border-radius: 30px;
    align-items: center;
  }

  #primerDescSeccionCarrusel {
    display: none;
  }

  .primerTituloSeccionCarrusel {
    font-size: 21px !important;
  }

  .texto-morado-xcoti {
    margin-left: 2rem;
    display: flex !important;
    font-size: 21px !important;
  }

  .background-container {
    margin-top: -1rem;
    width: 94%;
  }

  /* Estilos específicos para agregar título, descripción y franja morada */
  .carousel-item {
    position: relative;
    padding-bottom: 20px;
    /* Espacio para la descripción y franja */
  }

  /* .carousel-item::after {
content: '';
display: block;
border-top: 2px solid #800080;
margin: 10px 0;
} */

  .carousel-item .boat-info {
    display: block;
    text-align: center;
  }

  .carousel-item .boat-title {
    font-size: 1.2rem;
    color: #000;
    /* Título negro */
    margin-top: 10px;
  }

  .carousel-item .boat-description {
    font-size: 1rem;
    color: #555;
    /* Descripción en gris */
    margin-top: 5px;
  }

  .navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
  }

  .btn-primary {
    background-color: #8C30F5;
    border-color: #8C30F5;
    width: 162px !important;
    height: 18px !important;
    font-size: 8px !important;
    font-weight: 700 !important;
    line-height: 1px !important;
  }

  .background-container {
    display: block;
    background: linear-gradient(-12deg, rgba(196, 149, 249, 1) 0%, rgba(190, 139, 198, 1) 100%);
    border-radius: 0 70px 0px 90px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 43px;
    left: 50%;
    transform: translateX(-50%);
    width: 65%;
    height: 105%;
    z-index: 1;
  }
}


/* Responsivo para MacBook 14 Pro */
@media (min-width: 1400px) {
  .text-section h2 {
    font-size: 3rem;
  }

  .text-section p {
    font-size: 1.2rem;
  }

  .carousel-item img {
    height: 300px;
  }

  .main-container {
    max-width: 1000px;
  }

  .navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
  }
}

.custom-section {
  padding: 50px 0;
}

.text-section {
  margin-top: 20px;
}

.text-section h2 {
  font-size: 2.5rem;
  color: #333;
}

.text-section p {
  font-size: 1.1rem;
  color: #666;
}

.rounded-img {
  border-radius: 10px;
}

.distance-img2 {
  margin-top: 40px;
  margin-left: 40px;
}

.close-gap {
  margin-top: 10px;
}

.final-section {
  margin-top: 0rem;
  background-color: white;
  padding: 60px 0;
}

.final-section h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.final-section .subtitle {
  font-size: 1.2rem;
  color: #777;
}

.contact-us-btn {
  background-color: #7A3FDB;
  color: white;
  border-radius: 20px;
  padding: 10px;
  padding-right: 20px;
  margin-right: 20px;
  font-size: 1.1rem;
  margin-top: 20px;
  width: 174px;
}

.qr-code {
  max-width: 200px;
}

.imac-image {
  max-width: 100%;
}

.custom-section-mobile {
  background-color: #fff !important;
  padding: 2rem 0 !important;
}

.custom-section-mobile h4 {
  color: #8C30F5 !important;
  font-weight: bold !important;
  margin-bottom: 1rem !important;
}

.custom-section-mobile h2 {
  color: #424242 !important;
  font-weight: bold !important;
  margin-bottom: 1rem !important;
}

.custom-section-mobile p {
  color: #6B7280 !important;
  font-size: 1rem !important;
  margin-bottom: 1.5rem !important;
}

.custom-section-mobile img {
  max-width: 100% !important;
  height: auto !important;
}

.final-section-mobile {
  padding: 3rem;
  background-color: #ffffff;
}

.final-section-mobile .mobile-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.final-section-mobile .highlight-text {
  color: #7A3FDB;
}

.final-section-mobile .mobile-image {
  max-width: 100%;
  height: auto;
}

.final-section-mobile .qr-code-mobile {
  max-width: 150px;
  height: auto;
}

.final-section-mobile .connect-btn {
  background-color: #8C30F5;
  border-color: #8C30F5;
  color: #ffffff;
}

.final-section-mobile .connect-btn:hover {
  background-color: #8C30F5;
  border-color: #8C30F5;
}

.final-section-mobile .contact-info p {
  color: #8C30F5;
  font-size: 1rem;
  margin: 0;
}

.language-flag {
  width: 24px;
  /* Ajusta el tamaño según necesites */
  height: auto;
  border-radius: 2px;
  /* Opción de agregar un borde redondeado */
}